<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="styles.css">
  <!-- версия для разработки, отображает полезные предупреждения в консоли -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>
<body>
<a href="crashstat.html">Детальная статистика вылетов</a>
<div id="app">
  <h2> Всего аккаунтов: {{ users.length }} </h2>
  <h2> Онлайн: {{ online }} </h2>
  <!--<input v-model="serverAddress" placeholder="<IP или домен>:<порт>">-->
  <table width="100%">
    <tr>
      <td valign="top">Имя персонажа</td>
      <td valign="top">Статус</td>
      <td valign="top">Всего проведено времени в игре</td>
      <td valign="top">Всего вылетов</td>
    </tr>
    <tr v-for="user in users">
      <td>{{ user.displayName }}</td>
      <td v-if="user.online"><font color="#91ff98">Online</td>
      <td v-else><font color="#ffbda8">Offline</td>
      <td>{{ user._totalOnlineStr }}</td>
      <td>{{ user.crashes.length }}</td>
    </tr>
  </table>
</div>
<script src="index.js"></script>

</body>
</html>
